{% extends 'app/base.html' %}
{% load static %}
{% block a  %}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">{{ user }}欢迎来到天天生鲜!
                {% if user.id %}
					欢迎您：<em>{{ user.username }}</em>
                    {% endif %}
            </div>

			<div class="fr">

				<div class="login_btn fl">
                    {% if user.id %}
                        <a href="{% url 'app:logout' %}">退出</a>
                    {% else %}
					<a href="{% url 'app:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'app:register' %}">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'app:user_center_info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'app:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'app:user_center_order' %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>

{% block s %}
	<div class="search_bar clearfix">
		<a href="{% url 'app:index' %}" class="logo fl"><img src="/static/app/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" id="seeks" name="seeks" placeholder="搜索商品">
			<input type="button" class="input_btn fr" onclick="seekbutton()" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'app:cart' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ i }}</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% endblock %}